# Talking to CSV and Excel files with LangChain

In [16]:
!pip -q install langchain openai

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: pip install --upgrade pip

In [17]:
import os

os.environ["OPENAI_API_KEY"] = "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"

In [18]:
!pip show langchain

Name: langchain
Version: 0.0.189
Summary: Building applications with LLMs through composability
Home-page: https://www.github.com/hwchase17/langchain
Author:
Author-email:
License: MIT
Location: /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages
Requires: aiohttp, dataclasses-json, numexpr, numpy, openapi-schema-pydantic, pydantic, PyYAML, requests, SQLAlchemy, tenacity
Required-by: llama-index

## Dataset - Black Friday Sales


https://www.kaggle.com/datasets/sdolezel/black-friday

In [19]:
import pandas as pd

df = pd.read_csv('./employee_data.csv')

In [20]:
df.head()

,_id,Unnamed: 1,department,gender,ethnicity,sexualOrientation,lgbtq,indigenous,disability,age,mobile,email,name,position,employmentPeriod,region
0,64abe413a6a303284e70ebc6,0,it,Transgender,White,Heterosexual,Prefer not to say,No,Yes,29,363 436 1096,Deborah.Addison@mail.ca,Deborah Addidaugher,network engineer,21,Mumbai
1,64abe413a6a303284e70ebc7,1,marketing,Male,White,Heterosexual,No,Yes,No,59,905 980 9989,Mona.Hill@mail.ca,Mona Hill,brand strategist,33,Tokyo
2,64abe413a6a303284e70ebc8,2,finance,Female,White,Heterosexual,No,No,No,43,788 356 1577,Kimberly.Shelton@mail.ca,Kimberly Shelton,financial analyst,35,New York
3,64abe413a6a303284e70ebc9,3,hr,Male,White,Heterosexual,No,No,Yes,44,946 855 5822,Denis.Robinson@mail.ca,Denis Robinson,recruitment specialist,49,Mumbai
4,64abe413a6a303284e70ebca,4,rd,Male,Asian,Heterosexual,No,No,No,50,537 895 4532,Carmen.Gunn@mail.ca,Carmen Gunn,R&D engineer,50,London

## CSV Agent

NOTE: this agent calls the Pandas DataFrame agent under the hood, which in turn calls the Python agent, which executes LLM generated Python code - this can be bad if the LLM generated Python code is harmful. Use cautiously.

In [21]:
from langchain.agents import create_csv_agent
from langchain.llms import OpenAI

In [26]:
agent = create_csv_agent(OpenAI(temperature=0, model="gpt-3.5-turbo-instruct"),
                         './employee_data.csv',
                         verbose=True)

In [27]:
agent

AgentExecutor(memory=None, callbacks=None, callback_manager=None, verbose=True, agent=ZeroShotAgent(llm_chain=LLMChain(memory=None, callbacks=None, callback_manager=None, verbose=False, prompt=PromptTemplate(input_variables=['agent_scratchpad', 'input'], output_parser=None, partial_variables={'df_head': '|    | _id                      |   Unnamed: 1 | department   | gender      | ethnicity   | sexualOrientation   | lgbtq             | indigenous   | disability   |   age | mobile       | email                    | name                | position               |   employmentPeriod | region   |\n|---:|:-------------------------|-------------:|:-------------|:------------|:------------|:--------------------|:------------------|:-------------|:-------------|------:|:-------------|:-------------------------|:--------------------|:-----------------------|-------------------:|:---------|\n|  0 | 64abe413a6a303284e70ebc6 |            0 | it           | Transgender | White       | Heterosexual        | Prefer not to say | No           | Yes          |    29 | 363 436 1096 | Deborah.Addison@mail.ca  | Deborah Addidaugher | network engineer       |                 21 | Mumbai   |\n|  1 | 64abe413a6a303284e70ebc7 |            1 | marketing    | Male        | White       | Heterosexual        | No                | Yes          | No           |    59 | 905 980 9989 | Mona.Hill@mail.ca        | Mona Hill           | brand strategist       |                 33 | Tokyo    |\n|  2 | 64abe413a6a303284e70ebc8 |            2 | finance      | Female      | White       | Heterosexual        | No                | No           | No           |    43 | 788 356 1577 | Kimberly.Shelton@mail.ca | Kimberly Shelton    | financial analyst      |                 35 | New York |\n|  3 | 64abe413a6a303284e70ebc9 |            3 | hr           | Male        | White       | Heterosexual        | No                | No           | Yes          |    44 | 946 855 5822 | Denis.Robinson@mail.ca   | Denis Robinson      | recruitment specialist |                 49 | Mumbai   |\n|  4 | 64abe413a6a303284e70ebca |            4 | rd           | Male        | Asian       | Heterosexual        | No                | No           | No           |    50 | 537 895 4532 | Carmen.Gunn@mail.ca      | Carmen Gunn         | R&D engineer           |                 50 | London   |'}, template='\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}', template_format='f-string', validate_template=True), llm=OpenAI(cache=None, verbose=False, callbacks=None, callback_manager=None, client=<class 'openai.api_resources.completion.Completion'>, model_name='gpt-3.5-turbo-instruct', temperature=0.0, max_tokens=256, top_p=1, frequency_penalty=0, presence_penalty=0, n=1, best_of=1, model_kwargs={}, openai_api_key=None, openai_api_base=None, openai_organization=None, openai_proxy=None, batch_size=20, request_timeout=None, logit_bias={}, max_retries=6, streaming=False, allowed_special=set(), disallowed_special='all'), output_key='text'), output_parser=MRKLOutputParser(), allowed_tools=['python_repl_ast']), tools=[PythonAstREPLTool(name='python_repl_ast', description='A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.', args_schema=None, return_direct=False, verbose=False, callbacks=None, callback_manager=None, handle_tool_error=False, globals={}, locals={'df':                            _id  Unnamed: 1 department             gender  \
0     64abe413a6a303284e70ebc6           0         it        Transgender
1     64abe413a6a303284e70ebc7           1  marketing               Male
2     64abe413a6a303284e70ebc8           2    finance             Female
3     64abe413a6a303284e70ebc9           3         hr               Male
4     64abe413a6a303284e70ebca           4         rd               Male
...                        ...         ...        ...                ...
9995  64abe416a6a303284e7112d1        9995         hr               Male
9996  64abe416a6a303284e7112d2        9996      sales               Male
9997  64abe416a6a303284e7112d3        9997      sales               Male
9998  64abe416a6a303284e7112d4        9998    finance  Prefer not to say
9999  64abe416a6a303284e7112d5        9999      sales             Female

     ethnicity  sexualOrientation              lgbtq         indigenous  \
0        White       Heterosexual  Prefer not to say                 No
1        White       Heterosexual                 No                Yes
2        White       Heterosexual                 No                 No
3        White       Heterosexual                 No                 No
4        Asian       Heterosexual                 No                 No
...        ...                ...                ...                ...
9995     White       Heterosexual                 No  Prefer not to say
9996     White       Heterosexual                 No                 No
9997     White       Heterosexual                 No                 No
9998     White       Heterosexual                 No                 No
9999     White  Prefer not to say  Prefer not to say                 No

     disability  age        mobile                     email  \
0           Yes   29  363 436 1096   Deborah.Addison@mail.ca
1            No   59  905 980 9989         Mona.Hill@mail.ca
2            No   43  788 356 1577  Kimberly.Shelton@mail.ca
3           Yes   44  946 855 5822    Denis.Robinson@mail.ca
4            No   50  537 895 4532       Carmen.Gunn@mail.ca
...         ...  ...           ...                       ...
9995         No   32  793 219 4972  Louise.Robertson@mail.ca
9996         No   37  548 757 2050  Felicity.Gregory@mail.ca
9997         No   35  695 929 9404     Abbey.Randall@mail.ca
9998         No   62  821 130 2328       Benny.Abbot@mail.ca
9999         No   44  181 174 9542     Olivia.Denton@mail.ca

                     name                             position  \
0     Deborah Addidaugher                     network engineer
1               Mona Hill                     brand strategist
2        Kimberly Shelton                    financial analyst
3          Denis Robinson               recruitment specialist
4             Carmen Gunn                         R&D engineer
...                   ...                                  ...
9995     Louise Robertson        employee relations consultant
9996     Felicity Gregory             sales operations analyst
9997        Abbey Randall  business development representative
9998          Benny Abbot                 financial controller
9999        Olivia Denton             sales operations analyst

      employmentPeriod    region
0                   21    Mumbai
1                   33     Tokyo
2                   35  New York
3                   49    Mumbai
4                   50    London
...                ...       ...
9995                25  New York
9996                39  New York
9997                31  New York
9998                 8  New York
9999                50     Tokyo

[10000 rows x 16 columns]}, sanitize_input=True)], return_intermediate_steps=False, max_iterations=15, max_execution_time=None, early_stopping_method='force', handle_parsing_errors=False)

In [28]:
agent.agent.llm_chain.prompt.template

'\nYou are working with a pandas dataframe in Python. The name of the dataframe is `df`.\nYou should use the tools below to answer the question posed of you:\n\npython_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [python_repl_ast]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\n\nThis is the result of `print(df.head())`:\n{df_head}\n\nBegin!\nQuestion: {input}\n{agent_scratchpad}'


You are working with a pandas dataframe in Python. The name of the dataframe is `df`.
You should use the tools below to answer the question posed of you:

python_repl_ast: A Python shell. Use this to execute python commands. Input should be a valid python command. When using this tool, sometimes output is abbreviated - make sure it does not look abbreviated before using it in your answer.

Use the following format:

Question: the input question you must answer
Thought: you should always think about what to do
Action: the action to take, should be one of [python_repl_ast]
Action Input: the input to the action
Observation: the result of the action
... (this Thought/Action/Action Input/Observation can repeat N times)
Thought: I now know the final answer
Final Answer: the final answer to the original input question


This is the result of `print(df.head())`:
{df}

Begin!
Question: {input}
{agent_scratchpad}

In [29]:
agent.run("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of rows in the dataframe.
Action: python_repl_ast
Action Input: len(df)
Observation: 10000
Thought: I now know the final answer
Final Answer: There are 10000 rows in the dataframe.

> Finished chain.

'There are 10000 rows in the dataframe.'

In [30]:
agent.run("how many people are female?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of rows where the gender column is equal to "Female".
Action: python_repl_ast
Action Input: df[df['gender'] == 'Female'].count()
Observation: _id                  3388
Unnamed: 1           3388
department           3388
gender               3388
ethnicity            3388
sexualOrientation    3388
lgbtq                3388
indigenous           3388
disability           3388
age                  3388
mobile               3388
email                3388
name                 3388
position             3388
employmentPeriod     3388
region               3388
dtype: int64
Thought:

Retrying langchain.llms.openai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for organization org-c4b4ECt65mc7vvG4RRVdXxAu on requests per min (RPM): Limit 3, Used 3, Requested 1. Please try again in 20s. Visit https://platform.openai.com/account/rate-limits to learn more. You can increase your rate limit by adding a payment method to your account at https://platform.openai.com/account/billing..
Retrying langchain.llms.openai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for organization org-c4b4ECt65mc7vvG4RRVdXxAu on requests per min (RPM): Limit 3, Used 3, Requested 1. Please try again in 20s. Visit https://platform.openai.com/account/rate-limits to learn more. You can increase your rate limit by adding a payment method to your account at https://platform.openai.com/account/billing..
Retrying langchain.llms.openai.completion_with_retry.<locals>._completion_with_retry in 4.0 seconds as it raised RateLimitError: Rate limit reached for organization org-c4b4ECt65mc7vvG4RRVdXxAu on requests per min (RPM): Limit 3, Used 3, Requested 1. Please try again in 20s. Visit https://platform.openai.com/account/rate-limits to learn more. You can increase your rate limit by adding a payment method to your account at https://platform.openai.com/account/billing..

 I now know the final answer
Final Answer: 3388

> Finished chain.

'3388'

In [31]:
agent.run("how many people are male and white?")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to only include rows where gender is Male and ethnicity is White, then count the number of rows.
Action: python_repl_ast
Action Input: df[(df['gender'] == 'Male') & (df['ethnicity'] == 'White')]
Observation:                            _id  Unnamed: 1 department gender ethnicity  \
1     64abe413a6a303284e70ebc7           1  marketing   Male     White
3     64abe413a6a303284e70ebc9           3         hr   Male     White
6     64abe413a6a303284e70ebcc           6  marketing   Male     White
7     64abe413a6a303284e70ebcd           7      sales   Male     White
10    64abe413a6a303284e70ebd0          10      sales   Male     White
...                        ...         ...        ...    ...       ...
9991  64abe416a6a303284e7112cd        9991         it   Male     White
9992  64abe416a6a303284e7112ce        9992      sales   Male     White
9995  64abe416a6a303284e7112d1        9995         hr   Male     White
9996  64abe416a6a303284e7112d2        9996      sales   Male     White
9997  64abe416a6a303284e7112d3        9997      sales   Male     White

      sexualOrientation lgbtq         indigenous disability  age  \
1          Heterosexual    No                Yes         No   59
3          Heterosexual    No                 No        Yes   44
6     Prefer not to say   Yes                 No         No   34
7          Heterosexual    No                 No         No   27
10         Heterosexual    No                 No         No   54
...                 ...   ...                ...        ...  ...
9991       Heterosexual    No                 No         No   33
9992       Heterosexual    No                 No         No   53
9995       Heterosexual    No  Prefer not to say         No   32
9996       Heterosexual    No                 No         No   37
9997       Heterosexual    No                 No         No   35

            mobile                      email               name  \
1     905 980 9989          Mona.Hill@mail.ca          Mona Hill
3     946 855 5822     Denis.Robinson@mail.ca     Denis Robinson
6     500 192 9313      Luke.Sinclair@mail.ca      Luke Sinclair
7     531 698 4421        Fred.Callan@mail.ca        Fred Callan
10    502 332 1292       Ramon.Mccall@mail.ca       Ramon Mccall
...            ...                        ...                ...
9991  475 800 1267   Havana.Mackenzie@mail.ca   Havana Mackenzie
9992  623 718 3981  Carmella.Freeburn@mail.ca  Carmella Freeburn
9995  793 219 4972   Louise.Robertson@mail.ca   Louise Robertson
9996  548 757 2050   Felicity.Gregory@mail.ca   Felicity Gregory
9997  695 929 9404      Abbey.Randall@mail.ca      Abbey Randall

                                 position  employmentPeriod     region
1                        brand strategist                33      Tokyo
3                  recruitment specialist                49     Mumbai
6                        digital marketer                57      Tokyo
7                           sales manager                35  Hong Kong
10    business development representative                45  Hong Kong
...                                   ...               ...        ...
9991                   software developer                35     London
9992                    account executive                 9      Tokyo
9995        employee relations consultant                25   New York
9996             sales operations analyst                39   New York
9997  business development representative                31   New York

[4173 rows x 16 columns]
Thought: I now know the final answer
Final Answer: There are 4173 people who are male and white in the dataframe.

> Finished chain.

'There are 4173 people who are male and white in the dataframe.'

In [ ]:
agent.run("how many people have stayed more than 3 years in the city and are female?")

> Entering new AgentExecutor chain...
Thought: I need to filter the dataframe to find the people who meet the criteria
Action: python_repl_ast
Action Input: df[(df['Stay_In_Current_City_Years'] > '3') & (df['Gender'] == 'F')]
Observation:         User_ID Product_ID Gender    Age  Occupation City_Category  \
29      1000010  P00085942      F  36-45           1             B
30      1000010  P00118742      F  36-45           1             B
31      1000010  P00297942      F  36-45           1             B
32      1000010  P00266842      F  36-45           1             B
33      1000010  P00058342      F  36-45           1             B
...         ...        ...    ...    ...         ...           ...
549972  1005901  P00372445      F  36-45           7             C
549981  1005911  P00372445      F  26-35          17             C
550011  1005952  P00371644      F  46-50           1             C
550065  1006036  P00375436      F  26-35          15             B
550067  1006039  P00371644      F  46-50           0             B

       Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
29                             4+               1                   2
30                             4+               1                   5
31                             4+               1                   8
32                             4+               1                   5
33                             4+               1                   3
...                           ...             ...                 ...
549972                         4+               0                  20
549981                         4+               1                  20
550011                         4+               1                  20
550065                         4+               1                  20
550067                         4+               1                  20

        Product_Category_2  Product_Category_3  Purchase
29                     4.0                 8.0     16352
30                    11.0                 NaN      8886
31                     NaN                 NaN      5875
32                     NaN                 NaN      8854
33                     4.0                 NaN     10946
...                    ...                 ...       ...
549972                 NaN                 NaN       603
549981                 NaN                 NaN       596
550011                 NaN                 NaN       594
550065                 NaN                 NaN       137
550067                 NaN                 NaN       490

[18596 rows x 12 columns]
Thought: I need to count the number of rows in the result
Action: python_repl_ast
Action Input: len(df[(df['Stay_In_Current_City_Years'] > '3') & (df['Gender'] == 'F')])
Observation: 18596
Thought: I now know the final answer
Final Answer: 18596 people have stayed more than 3 years in the city and are female.

> Finished chain.

'18596 people have stayed more than 3 years in the city and are female.'

In [ ]:
agent.run("Are there more males or females?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of males and females
Action: python_repl_ast
Action Input: df['Gender'].value_counts()
Observation: M    414259
F    135809
Name: Gender, dtype: int64
Thought: I now know the final answer
Final Answer: There are more males than females.

> Finished chain.

'There are more males than females.'

## LangChain CSV Loader

In [ ]:
from langchain.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path='/content/train.csv')
data = loader.load()

In [ ]:
#custom chain etc

## Convert XLS file to csv

In [ ]:
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.9/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.9/dist-packages (from openpyxl) (1.1.0)

In [ ]:
!wget -q https://www.dropbox.com/s/co5kwipba9hpumt/excel_files.zip
!unzip -q excel_files.zip

In [ ]:
xls_file = r'/content/excel_file_example.xlsx'
output_csv = r'/content/excel_file_example.csv'

# Read the XLS file using pandas and openpyxl as the engine
data = pd.read_excel(xls_file, engine='openpyxl')

# Save the data as a CSV file
data.to_csv(output_csv, index=False)

In [ ]:
agent = create_csv_agent(OpenAI(temperature=0),
                         '/content/excel_file_example.csv',
                         verbose=True)

In [ ]:
agent.run("What are the column names?")

> Entering new AgentExecutor chain...
Thought: I need to find out what the column names are
Action: python_repl_ast
Action Input: df.columns
Observation: Index(['0', 'First Name', 'Last Name', 'Gender', 'Country', 'Age', 'Date',
       'Id'],
      dtype='object')
Thought: I now know the column names
Final Answer: 0, First Name, Last Name, Gender, Country, Age, Date, Id

> Finished chain.

'0, First Name, Last Name, Gender, Country, Age, Date, Id'

In [ ]:
agent.run("What is the average age?")

> Entering new AgentExecutor chain...
Thought: I need to calculate the average age of the people in the dataframe
Action: python_repl_ast
Action Input: df['Age'].mean()
Observation: 33.26
Thought: I now know the final answer
Final Answer: The average age is 33.26.

> Finished chain.

'The average age is 33.26.'

In [ ]:
agent.run("Which country appears the most and how many times does it appear?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of times each country appears in the dataframe.
Action: python_repl_ast
Action Input: df['Country'].value_counts()
Observation: United States    48
Great Britain    28
France           24
Name: Country, dtype: int64
Thought: I now know the final answer
Final Answer: The country that appears the most is United States, appearing 48 times.

> Finished chain.

'The country that appears the most is United States, appearing 48 times.'

In [ ]:
agent.run("What is the ratio of males to females?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of males and females
Action: python_repl_ast
Action Input: df['Gender'].value_counts()
Observation: Female    76
Male      24
Name: Gender, dtype: int64
Thought: I now know the final answer
Final Answer: 24:76

> Finished chain.

'24:76'