In [8]:
import docx2txt

In [9]:
job_description = docx2txt.process('./jd.docx')

In [10]:
import fitz

doc = fitz.open('resume2.pdf')
resume = ""
for page in doc:
   resume +=page.get_text()

In [11]:
content = [job_description, resume]

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
matrix = cv.fit_transform(content)

In [13]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_matrix = cosine_similarity(matrix)

In [14]:
print(int(similarity_matrix[1][0] * 100))

59

In [19]:
import pandas as pd
import numpy as np

In [16]:
employee_df = pd.read_csv("employee_data.csv")

In [21]:
employee_df.head()

,Id,Name,Surname,Division,Manager,Gender,Sexual_Orientation,LGBTQ,Indigenous,Ethnicity,...,Date of Birth,Age,Preferred Name,Nationality,Hobbies,Pronouns,Mobile Number,Email,gender_encoded,ats_score
0,1,Deborah,Addison,IT,No,Transgender,Heterosexual,Prefer not to say,No,White,...,1993-06-04,29,Deborah,Polish,Travelling,They/them/theirs,363 436 1096,Deborah.Addison@mail.ca,2,68
1,2,Mona,Hill,Marketing,No,Male,Heterosexual,No,Yes,White,...,1963-08-02,59,Mona,Lao,Reading,He/him/his,905 980 9989,Mona.Hill@mail.ca,0,98
2,3,Kimberly,Shelton,Finance,No,Female,Heterosexual,No,No,White,...,1979-04-25,43,Kimberly,Canadian,Sports,She/her/hers,788 356 1577,Kimberly.Shelton@mail.ca,1,9
3,4,Denis,Robinson,HR,No,Male,Heterosexual,No,No,White,...,1978-02-11,44,Denis,Canadian,Sports,He/him/his,946 855 5822,Denis.Robinson@mail.ca,0,42
4,5,Carmen,Gunn,RD,No,Male,Heterosexual,No,No,Asian,...,1972-03-11,50,Carmen,Korean,Cooking,He/him/his,537 895 4532,Carmen.Gunn@mail.ca,0,41

In [20]:
employee_df['ats_score'] = np.random.randint(1, 101, size=len(employee_df))

In [22]:
employee_df.to_csv("candidates_data.csv")